bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
appsettings.json 
NetFramework/
NetFrameworkUnitTests/
test
.idea/
.secrets.yml
.terraform.lock.hcl
.terraform
.terraform.tfstate.lock.info
terraform.tfstate